# Python
backend/__pycache__/
backend/*.pyc
backend/.env
backend/misconceptai.db
backend/.venv/
.venv/
**/__pycache__/
*.pyc
Lib/*
Scripts/*
pyvenv.cfg

backend/.venv/Lib/*
backend/.venv/Scripts/*
backend/.venv/pyvenv.cfg


# Node
frontend/node_modules/
frontend/dist/

# Editor
.vscode/
.idea/